# Setup fzf
# ---------
if command -v fzf &>/dev/null; then
  source <(fzf --zsh)
fi

# Auto-completion
# ---------------
if [[ -f /opt/homebrew/opt/fzf/shell/completion.zsh ]]; then
  source "/opt/homebrew/opt/fzf/shell/completion.zsh"
fi

# Key bindings
# ------------
if [[ -f /opt/homebrew/opt/fzf/shell/key-bindings.zsh ]]; then
  source "/opt/homebrew/opt/fzf/shell/key-bindings.zsh"
fi

