#!/bin/bash

# Make fish shell default
{{ if eq .shell "fish" }}
if [[ -f "/opt/homebrew/bin/fish" ]]; then
  # non standard shell
  echo "/opt/homebrew/bin/fish" | sudo tee -a /etc/shells
  sudo chsh -s /opt/homebrew/bin/fish $USER
elif [[ -f "/bin/fish" ]]; then
  sudo chsh -s /bin/fish $USER
fi
{{ else if eq .shell "zsh"}}
if [[ -f "/bin/zsh" ]]; then
  sudo chsh -s /bin/zsh $USER
fi
{{ end }}

