
HashKnownHosts no

{{- if eq .chezmoi.os "linux" }}
    
{{  onepasswordRead "op://Personal/SSH Config/notesPlain" | replaceAllRegex ".pub" "" -}}

{{- end }}

# Host *
#   AddKeysToAgent yes
#   UseKeychain yes

{{ if eq .chezmoi.os "darwin" -}}

{{  onepasswordRead "op://Personal/SSH Config/notesPlain"  -}}


Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  
{{ end -}}
