{{ if and .has_op .work -}}

{{  onepasswordRead "op://Personal/id_ed25519_work/private key?ssh-format=openssh" .vault_name  }}

{{ else if .has_op -}}

{{    if ne .chezmoi.os "darwin" -}}
{{        onepasswordRead "op://Personal/id_ed25519/private key?ssh-format=openssh"  .vault_name  }}
{{    end -}}

{{ end -}}
